:root {
    --verde-esmeralda: #5bb8ad;
    --verde-petroleo: #264653;
    --amarelo-suave: #E9C46A;
    --laranja-terroso: #F4A261;
  }

  *{
    margin: 0px;
  }

  body{
    margin: 0;
    height: 100hv;
    background-image: linear-gradient(to right, #86afab, #277a71);
  }

  header{
    background-color: var(--verde-esmeralda)f8e9;
    padding: 25px;
  }

  header a{
    text-decoration: none;
    font-family: fantasy;
    color: black;
    font-size: 25px;
    transition-duration: .5s;


  }

  header a:hover{
    font-size: 30px;
    transition-duration: .5s;
    background-color: #264653;
    padding: 5px 10px;
    border-radius: 10px;
  }

  main{
    background-color: white;
    border-radius: 15px;
    margin: auto;
    width: 80%;
    height: 700px;
    margin-top: 20px;
    text-align: center;

  }

  hr{
    margin-left: 40px;
    margin-right: 40px;
  }

  main h1{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  textarea{
    resize: none;
    border-radius: 10PX;
    font-size: 25px ;
    transition-duration: .5s;
  }

  main p{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
  }
  
textarea::placeholder{
  font-size: 25px;
}