:root {
  --verde-esmeralda: #5bb8ad;
  --verde-petroleo: #264653;
  --amarelo-suave: #E9C46A;
  --laranja-terroso: #F4A261;
}

header{
  height: 30px;
}

body{

  height: 100hv;
  background: fixed;
  background-image: linear-gradient(to top, #05163d, #5575e8);
}

main{
  display: block;
  margin: auto;
  background-color: rgba(0, 119, 255, 0.048);
  width: auto;
  max-width: 620px;
  min-width: 10px;
  height: auto;
  min-height: 400px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 5px black;

}


textarea{
  resize: none;
  border-radius: 10PX;
  font-size: 25px ;
  transition-duration: .5s;
}


textarea::placeholder{
font-size: 25px;
}

main p{
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 30px;
color: white;
}

main h1{
color: white;
font-family: Arial, Helvetica, sans-serif;
}


header a{
text-decoration: none;
color: black;
font-size: 25px;
transition-duration: .5s;
font-family: Arial, Helvetica, sans-serif;
background-color: rgba(0, 68, 255, 0.363);
padding: 10px 15px;
border-radius: 15px;
box-shadow: 0px 0px 2px;
}

header a:hover{
font-size: 30px;
transition-duration: .5s;
background-color: #003e5770;
padding: 5px 10px;
border-radius: 10px;
}

div{
margin-top: 120px;
}


#googleLogin {
margin-top: 20px;
width: 400px;
border-radius: 10%;
margin: auto;
margin-bottom: 10px;
padding-bottom: 10px;
margin-top: -2%;
}